/* Setting up fonts */
@font-face {
  font-family: "vibes";
  src: url("./fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "amiri";
  src: url("./fonts/Amiri-Regular.ttf");
}

@font-face {
  font-family: "amiri-bold";
  src: url("./fonts/Amiri-Bold.ttf");
}

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  animation: landing 1s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

/* Header section */
header {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  min-height: 10vh;
  margin: auto;
  align-items: center;
}

header nav h1 {
  flex: 2 2 20rem;
}

header nav ul {
  display: flex;
  flex: 1 1 20rem;
  width: 20rem;
  justify-content: space-around;
}

header nav a {
  padding: 1rem;
}
header nav .logo {
  font-family: "vibes", sans-serif;
  font-weight: 400;
}
header nav .nav-links {
  font-family: "amiri", "Times New Roman", Times, serif;
  font-weight: 600;
}

header #menu {
  display: none;
}

header #menu-close {
  width: 3.5rem;
  position: absolute;
  right: 6%;
  display: none;
  cursor: pointer;
}

/* Hero section */
.hero {
  display: flex;
  flex-wrap: wrap;
  font-family: "amiri", sans-serif;
  min-height: 90vh;
  overflow: hidden;
}

.hero .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2 1 30rem;
  text-align: center;
}

.hero .img-container {
  flex: 1 1 30rem;
  background: linear-gradient(rgb(228, 228, 228), rgba(232, 232, 232, 0.2));
  position: relative;
  z-index: 0;
}

.hero .img-container .girl {
  justify-self: flex-end;
  align-self: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero p {
  padding: 4rem 2rem 4rem 2rem;
  max-width: 60rem;
  line-height: 2rem;
  font-size: 1.8rem;
  color: #525252;
}

.hero h1 {
  padding: 2rem 2rem -2rem 2rem;
  font-size: 5rem;
  margin-top: 5rem;
  font-family: "vibes", sans-serif;
}

.hero a {
  padding: 0.3rem 3.5rem;
  border: 2px solid black;
  margin-bottom: 4rem;
  color: black;
  font-weight: 600;
}

.hero .plant {
  position: absolute;
  bottom: 0.7%;
  left: -25%;
  z-index: -1;
  transform: translateY(10%) rotateX(90deg);
  animation: plant-open 2s ease-in-out forwards,
    plant-wiggle 3s ease-in-out infinite 2s alternate-reverse;
  transform-origin: bottom;
  max-height: 80%;
}
.hero .plant2 {
  left: 49%;
}

/* About section */
#about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

#about .img-container {
  flex: 1 1 30rem;
  position: relative;
}

#about .about-text {
  flex: 2 1 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h1 {
  font-family: "vibes", sans-serif;
  font-size: 5rem;
  margin-top: 4rem;
}

#about h2 {
  font-family: "amiri", sans-serif;
}

#about p {
  font-family: "amiri", sans-serif;
  color: #525252;
}

#about .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-life,
.my-work {
  padding: 3rem;
}

/* Gallery section */

#gallery .images {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(4, 1fr);
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery1 {
  grid-column: 1/3;
}

.gallery2 {
  grid-column: 3/4;
}

.gallery3 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.gallery5 {
  grid-column: 2/4;
}

/* Contact section */
#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 90%;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
}

#contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1 1 30rem;
}

#contact .text-content {
  flex: 2 1 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8rem;
}
#contact .text-content .first-line {
  font-size: 4rem;
  font-weight: 700;
  font-family: "amiri-bold", "Times New Roman", Times, serif;
}

#contact .text-content .second-line {
  color: #46566a;
  font-size: 8rem;
  font-weight: 700;
  font-family: "amiri-bold", "Times New Roman", Times, serif;
  margin-top: -5rem;
  margin-bottom: -2rem;
}

#contact #email {
  width: 25rem;
  height: 2.8rem;
  outline: none;
  background-color: #c4c4c4;
  border: none;
  font-size: 1.2rem;
  padding: 0.8rem;
  font-family: "amiri", "Times New Roman", Times, serif;
}

#contact #submit-btn {
  margin: 2rem 0;
  padding: 0.2rem 5rem;
  width: 100%;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-family: "amiri", "Times New Roman", Times, serif;
  background-color: #46566a;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#contact #submit-btn:hover {
  background-color: #354252;
}

/* Footer */
footer {
  background-color: #414141;
  color: white;
  font-family: "vibes", sans-serif;
  position: relative;
}

footer h2 {
  font-weight: 500;
  flex: 3 1 30rem;
}

footer .footer-content {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

footer .social-icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 30rem;
}

footer .social-icons img {
  width: 80%;
}

/* Animations */
@keyframes landing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-open {
  from {
    transform: translateY(10%) rotateX(90deg) rotateZ(10deg);
  }
  to {
    transform: translateY(0%) rotateX(0deg) rotateZ(0deg);
  }
}

@keyframes plant-wiggle {
  from {
    transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

/* Media queries */
@media screen and (max-width: 1500px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 1369px) {
  #contact {
    margin: auto;
  }

  #contact img {
    display: none;
  }

  #contact .text-content {
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  #gallery img {
    grid-row: auto;
    grid-column: auto;
  }

  #gallery .images {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (max-width: 1193px) {
  #contact .text-content {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 959px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 799px) {
  footer .footer-content {
    text-align: center;
  }

  footer h2 {
    padding: 2rem;
  }

  footer img {
    padding: 1rem;
  }
}

@media screen and (max-width: 719px) {
  html {
    font-size: 65%;
  }

  header #menu {
    display: block;
    cursor: pointer;
  }

  header .menu span {
    width: 2.5rem;
    height: 0.2rem;
    background-color: #414141;
    margin-bottom: 0.4rem;
    display: block;
    display: none;
  }

  header .nav-links {
    background-color: #414141;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.8s ease;
  }

  header .nav-links a {
    color: white;
    font-size: 3rem;
    font-weight: 200;
  }

  .menu-close {
    display: block;
  }

  .nav-open {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 623px) {
  .hero p {
    padding: 4rem 5rem 4rem 5rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 55%;
  }
}
